/bonus_exercises/
/code_exercises/
/code_experiments/
/files/bonus_exercises_files/
/files/code_experiments_files/
/files/coding_exercises_files/
/modules/bonus_exercises_modules/
/modules/coding_exercises_modules/
/venv/
/gui.spec
/build/
/dist/
